body {
    font-family: 'SpongeBob Font Condensed', sans-serif;
    margin: 0;
    background-color: turquoise;
    cursor: url("cursor2.png"), default;
}

:root {
    --spongeblue: rgba(19, 1, 102, 0.9);
}
 
::-webkit-scrollbar {
    width: 20px;
  }
  
  ::-webkit-scrollbar-track {
    background: coral;
  }

  ::-webkit-scrollbar-thumb {
    background: yellow;
}

header {
    display: flex;
    position: fixed;
    justify-content: space-between;
    width: 100%;
    top: 0;
    height: 5rem;
    background-color:  var(--spongeblue);
    align-items: center;
    z-index: 10;
}

.logo {
    height: 80%;
    margin-left: 1rem;
    transition: all 0.2s;
}

.logo:hover {
    transform: scale(1.05);
    transition: all 0.2s;

}

.navmobile {
    display: none;
}

#link {
    display: none;
}

#burger {
    width:2em;
    height:4px;
    background:yellow;
    display:inline-block;
    position:relative;
    margin-right: 2em;
}

#burger::before,
#burger::after {
content:'';
width:2em;
height:4px;
background:yellow;
display:inline-block;
position:absolute;
transform-origin: center;
transition: all 0.3s ease;
}
#burger::before {
top:-10px;   
}
#burger::after {
top:10px;
}

#burger.open {
    background:transparent; /* la barre du milieu disparait */
}
  /* celles du haut et du bas s'inclinent pour former une croix */
#burger.open::before {
    transform: rotate(45deg); 
    top:0;
}
#burger.open::after {
    transform: rotate(-45deg);
    top:0;
}

  

.hidden {
    opacity: 0;
}

.icon {
    display: none;
}

nav li {
    display: inline-block;
    margin: 0 2rem;
}

nav a {
    text-decoration: none;
    color: yellow;
    font-size: 2rem;
    transition: all 0.4s ease-in-out;
    cursor: url("cursor1.png"), pointer;
}

nav a:hover {
    color: coral;
    font-size: 2.2rem;
    transition: all 0.2s ease-in-out;

}

.fanclub {
    background-color: yellow;
    border: 5px dotted white;
    border-radius: 50px;
    transition: all 0.4s ease-in-out;
    padding: 0 1em;
    margin-right: 1rem;
}

.fanclub:hover {
    background-color: coral;
    transform: scale(1.05);
    transition: all 0.3s ease-in-out;

}

.fanclub a {
    text-decoration: none;
    color: black;
    cursor: url("cursor1.png"), pointer;
}

.city {
    background-image: url("resources/img/Bikini-Bottom.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;

}

.overlay {
    background-color: rgba(0,0,0,0.05);
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

h1 {
    font-family: 'SpongeBob Font Wide', sans-serif;
    color: yellow;

}

#bikini {
    font-size: 2.4rem;
    animation: 1s linear 0s infinite alternate glow;
    text-align: center;
}

@keyframes glow {
    from {
        text-shadow: 1px 1px 2px coral, 0 0 1em pink, 0 0 0.2em orange;
    }
    to {
      text-shadow: 5px 4px 10px coral, 1 2 3em pink, 2 5 0.6em orange;
    }
}

.maincontainer {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 7rem;
    margin: 0;

}

.secondcontainer {
    width: 70%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.friend {
    display: flex;
    justify-content: center;    
    align-items: center;
    margin: 2rem 0;
}

.friendpic {
    width: 25%;
    margin: 1rem;
    border-radius: 50px;
    border: 10px dotted yellow;
    align-self: baseline;
}

.frienddesc {
    display: flex;
    flex-direction: column;
    align-items: baseline;
    text-align: left;
}

table {
    margin-bottom: 0.5rem;
}

table th, td {
    background-color: white;
    padding: 1rem;
    width: 33%;
}

.starf {
    width: 20%;
}

#secret {
    display: none;
    width: 33%;
}

.secretbutton {
    padding: 0rem 1rem;
    background-color: yellow;
    border: 5px dotted black;
    border-radius: 50px;
    cursor: url("cursor1.png"), pointer;
    transition: background-color 0.2s ease-in-out;
    margin-bottom: 1rem;
}

.secretbutton:hover {
    background-color: coral;
    transition: background-color 0.2s ease-in-out;
}

.secretbutton:hover + #secret {
    display: block;
}

audio::-webkit-media-controls-panel {
    background-color: yellow;
}

#submitbutton {
    background-color: yellow;
    color: black;
    font-family: 'SpongeBob Font Condensed', sans-serif;
    padding: 1rem;
    border-radius: 50px;
    cursor: url("cursor1.png"), pointer;
}

#ask {
    margin-top: 6rem;
}

#wikibob {
    width: 90%;
}

#fanh {
    margin: 3rem 0;
}

#rank {
    text-align: left;
    line-height: 2rem;
}

textarea {
    width: 50em;
}

footer {
    color: yellow;
    text-align: center;
    height: 4rem;
    position: relative;
    bottom: 0;
    margin-top: 6rem;
    background-color: rgb(19, 1, 102);
    display: flex;
    justify-content: center;
    align-items: center;
}

@media all and (max-width: 880px){
    
    
    nav li {
        margin: 0 1rem;
    }

    nav a {
        font-size: 1.4rem;
    }

    nav a:hover {
        font-size: 1.5em;
    }

    #bikini {
        font-size: 1.8rem;
    }

    textarea {
        width: 30em;
    }

}

@media all and (max-width: 700px) {
    h1 {
      font-size: 1.6rem;
    }
    h2 {
      font-size: 1.2em;
    }
    h3 {
      font-size: 1em;
    }
    p, tr, form {
      font-size: 0.8em;
    }
  
    .navmobile{
      display: flex;
    }
  
    .navdesktop {
      display: none;
    }
  
    .fanclub {
      display: none;
    }

    #link {
        display: inline-block;
    }
    
    ul {
        background: var(--spongeblue);
        position:absolute;
        width:100%;
        top: 5rem;
        left:0;
        padding:1em 0;
        transform:scaleY(0);
        transform-origin:center top;
        transition:all 0.3s ease;
        margin: 0;
      }

      ul.open {
        transform:scaleY(1);
      }
      ul li {

        text-align:center
    }

    nav a:hover {
        
        font-size: 1.4rem;

    
    }
}